body {
    background-color: black;
    color: white;
}

.card-container {
    /* box-shadow: 0px 0px 104px 30px rgba(255, 255, 255, 0.75); */
    margin: 30px auto;
    border: 5px solid blue;
    background-color: black;
    text-align: center;
    width: 50%;
    animation: moveShadow 2s infinite ease-in-out;
}

@keyframes moveShadow {
    0% {
        box-shadow: 0px 0px 100px -38px rgba(255, 255, 255, 0.75);
    }

    50% {
        box-shadow: 0px 0px 200px 33px rgba(255, 255, 255, 0.75);
    }

    100% {
        box-shadow: 0px 0px 100px -38px rgba(255, 255, 255, 0.75);
    }
}

.card {
    margin: 10px ;
}

.header {
    text-align: center;
    text-shadow: 5px 10px 5px black;
    color: white;
    font-size: 30px;
    font-family: 'CRAWN', sans-serif;
}

.content-container{
    font-family: 'Quick Fuse';
}

@media screen and (max-width: 480px) {
    .header{
        font-size: 50%;
    }

    .content-container{
        font-size: 70%;
    }
}
@media screen and (max-width: 600px) {
    .header{
        font-size: 50%;
    }

    .content-container{
        font-size: 70%;
    }
}
@media screen and (max-width: 645px) {
    .header{
        font-size: 50%;
    }

    .content-container{
        font-size: 70%;
    }
}

.content {
    border-top: 2px solid gray;
}

.content>ul li {
    list-style-type: upper;
    text-align: left;
}

.content>img {
    box-shadow: 5px 10px 5px black;
    border-radius: 30%;
    width: 60%;
    margin: 20px auto;
}

.persiapan {
    border-top: 2px solid gray;
}

.persiapan>.gambar1 .alat {
    margin-right: 50px;
    mix-blend-mode: normal;
}

.persiapan>.gambar1 img {
    border-radius: 30%;
    width: 30%;
}

.pembongkaran {
    border-top: 2px solid gray;
}

.pembongkaran>ul>li {
    list-style: lower;
    text-align: left;
}

.pembongkaran>ul>img {
    border-radius: 30%;
    margin: 20px;
    width: 50%;
}

.proses {
    border-top: 2px solid gray;
}

.proses>ul li {
    text-align: left;
    list-style: lower;
    margin: 30px;
}

.proses>img {
    border-radius: 30%;
    width: 50%;
}

.pemasangan {
    border-top: 2px solid gray;
}

.pemasangan>li {
    list-style: lower;
    text-align: left;
}

.pemasangan>img {
    margin: 30px;
    width: 50%;
    border-radius: 30%;
}

.pengujian {
    border-top: 2px solid gray;
}

.pengujian>li {
    text-align: left;
    list-style: lower;
    margin: 30px;
}

.pengujian>img {
    border-radius: 10%;
    margin: 30px;
    width: 70%;
}

.trobleshooting {
    border-top: 2px solid gray;
}

.trobleshooting>ul li {
    text-align: left;
    margin: 5px;
    list-style: lower;
}